<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="com.koitt.message.greeting" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	
	<bean id="example" class="com.koitt.test.Example">
		<property name="messages" ref="messageSource" />
	</bean>
	
</beans>
