<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.koitt.model.Board">
  	 <select id="select" parameterType="int" resultType="com.koitt.model.Board">
  	 	<!-- SELECT * FROM board WHERE no = #{no} -->
  	 	SELECT no, title, content, user_no, regdate FROM board WHERE no = #{no}
  	 </select>
  	 
  	 <resultMap type="com.koitt.model.Board" id="boardResultMap">
  		<id property="no" column="no"/>
  		<result property="title" column="title"/>
  		<result property="content" column="content"/>
  		<result property="userNo" column="user_no"/>
  		<result property="regdate" column="regdate"/>
  	</resultMap>
  	
  	<select id="select2" parameterType="int" resultMap="boardResultMap">
  		SELECT * FROM board WHERE no = #{no}
  	</select>
  </mapper>