<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 
		<bean>앨리먼트의 scope속성 값
		범위				설명
		singleton		- 스프링 컨테이너에 한개의 빈 객체만 존재한다(기본값)
		prototype		- 새로운 객체를 생성한다
		request			- HTTP 요청마다 새로운 빈 객체를 생성한다
		session			- HTTP 세션마다 새로운 빈 객체를 생성한다
		
		request, session은 WebApplicationContext에서만 적용 가능하다
	 -->
	<bean name = "person" class = "bean.PersonImpl" scope = "singleton">
		<constructor-arg>
			<value type = "java.lang.String">Hello</value>
		</constructor-arg>
		<constructor-arg value = "원빈"></constructor-arg>
		<constructor-arg>
		<value type = "int">41</value>
		</constructor-arg>
	</bean>

</beans>
