<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">
	
	<!-- properties 파일을 불러온다 -->
	<util:properties id="str" location="classpath:/config/my.properties"></util:properties>
	
	<!-- String파라미터 1개인 생성자 사용 -->
	<!-- <bean id="mybean" class="bean.MyBean">
		<constructor-arg value = "Good Night"></constructor-arg>
	</bean>
	 -->
	 
	 
	<!-- 
		String파라미터 1개인 생성자 사용
		setGreeting 메소드 사용
	 -->
	<bean id="mybean" class="bean.MyBean">
		<constructor-arg value = "Good Night"></constructor-arg>
		<property name="greeting" value="#{str.eng}"></property>
	</bean>
	
	
</beans>
